* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}


/* .hiddenElement {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}

.show{
    opacity: 100%;
    filter: blur(0);
    transform: translateX(0);
} */

.xmasGreeting {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 30;
    top: 0;
    left: 0;
    display: block;
}   

.xmasCont {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(19, 0, 0, 0.938);
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes xmasAppear {
    0% {
        opacity: 0px;
        margin-top: -100px;
    }

    50% {
        margin-top: 50px;
    }


    100% {
        opacity: 100px;
        margin-top: 0px;
    }
}

.hide {
    display: none !important;
}

.card {
    width: 60%;
    height: 80%;
    background-image: url(./resources/Greetings.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: xmasAppear .5s ease;
}

.closeGreetingBtn {
    position: absolute;
    /* background-color: white; */
    width: 30px;
    height: 30px;
    top: 10%;
    right: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.closeGreetingBtn:hover {
    cursor: pointer;
}

.burgerContainer {
    width: 50px;
    height: 25px;
    padding: 12.5px 0px;
    background-color: #ff7b00;
    display: flex;
    flex-direction: column;
    transition-duration: .3s;
    border-radius: 10px;
    position: relative;
    display: none;
}

.burgerContainer:hover {
    cursor: pointer;
    background-color: #ff7b00;
    transition-duration: .3s;
}

.up, .middle, .bottom {
    width: 50%;
    background-color: white;
    height: 3px;
    margin: auto;
    transition-duration: .3s;
    border-radius: 10px;
    display: block;
}

.uprotate {
    position: absolute;
    rotate: 45deg;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    height: 5px;
    left: 25%;
    transition-duration: .3s;
    top: 45%;
}

.middleHidden {
    transition-duration: .3s;
    display: none;
}

.bottomRotate {
    position: absolute;
    rotate: -45deg;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    height: 5px;
    right: 25%;
    transition-duration: .3s;
    top: 45%;
}

.btnSmall {
    font-size: 14px;
    background-color: #FE6600;
    color: white;
    font-weight: 300;
    border: none;
    border-radius: 10px;
    transition-duration: .3s;
    padding: 10px 35px;
}

.btnSmall:hover {
    cursor: pointer;
    transition-duration: .3s;
    padding: 10px 50px;
    color: #FE6600;
    border: 1px solid #FE6600;
    background: none;
}

.btnMedium {
    margin-top: 40px;
    font-size: 20px;
    background-color: #FE6600;
    color: white;
    font-weight: 400;
    border: none;
    border-radius: 14px;
    transition-duration: .3s;
    padding: 15px 58px;
}

.btnMedium:hover {
    cursor: pointer;
    transition-duration: .3s;
    padding: 14px 80px;
    color: #FE6600;
    border: 1px solid #FE6600;
    background: none;
}


html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    /* overflow: hidden; */
    user-select: none;
}

header {
    width: 100%;
    height: 10vh;
}

.headerContainer {
    width: 90%;
    margin: auto;
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.siteLogo {
    width: 104px;
}

.hamburger {
    display: none;
}

.navMenu {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.menus {
    display: flex;
}

.menus ul {
    list-style: none;
    display: flex;
    gap: 56px;
}

.menus ul a {
    text-decoration: none;
    transition-duration: .3s;
    color: black;
}

.menus ul li {
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.active {
    color: #FE6600 !important;
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 2px solid #FE6600 !important;
}

.menus ul a:hover {
    color: #FE6600;
    transition-duration: .3s;
    padding-bottom: 5px;
    border-bottom: 1px solid #FE6600;
}

.contactBtn {
    display: flex;
    justify-content: left;
}

#contactBtn {
    padding: 10px 35px;
    background-color: #FE6600;
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: white;
    transition-duration: .3s;
    border-radius: 10px;
}

#contactBtn:hover {
    cursor: pointer;
    padding: 10px 50px;
    transition-duration: .3s;
}

.hidden {
    display: none;
}

.hero {
    position: relative;
    width: 100%;
    height: 90vh;
    /* background-image: url(./resources/1920\ x\ 1080\ background\ Img.svg);
    background-repeat: no-repeat;
    background-size: cover; */
}

.navMenuActive {
    width: 100%;
    height: 90vh;
    position: fixed;
    top: 10vh;
    left: 0;
    background-color: rgba(255, 255, 255, 0.815);
    z-index: 19;
}

.heroContainer {
    width: 73%;
    height: 100%;
    margin: auto;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.allCont {
    width: 100%;
    margin-top: -50px;
}

.unlockYour {
    font-size: 80px;
    font-weight: 600;
}

.bpContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    width: 50%;
    margin: auto;
}

.allCont h1 {
    font-size: 80px;
    font-weight: 500;
    color: #000000;
}

.mainTexts {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.brandsText, .potentialText {
    position: relative;
}

.brandsText h1, .potentialText h1 {
    z-index: 1;
}

.highlight {
    background-color:#FE6600;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.br, .pt {
    height: 40px;
    transition-duration: .4s;
}

.potn, .bran {
    position: absolute;
    bottom: 0px;
}

.heroContainer p {
    font-size: 28px;
    font-weight: 500;
    margin-top: 19px;
}

@keyframes slideDown {
    0% {
        opacity: 0%;
        margin-top: -500px;
    } 
    
    100% {
        opacity: 100%;
        margin-top: 0px;
    }
}


.downIcon {
    width: 30px;
    height: 54;
    position: absolute; 
    bottom: 50px;
    left: 50%;
    margin-bottom: 1px;
    transition-duration: .3s;
    transform: translateX(-50%);
}

.downIcon:hover {
    cursor: pointer;
    margin-bottom: 10px;
    transition-duration: .3s;
}















/* About Us Section */

.aboutUs {
    width: 100%;
    height: 100vh;
    background-color: #fff4ec;
    display: flex;
    align-items: center;
    position: relative;
}

.lineTriangle1 {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 50px;
    right: 50px;
}

.lineTriangle2 {
    width: 90px;
    height: 90px;
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.aboutUsContainer {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff4ec;
}

.abtUsImgContainer {
    flex: 1;
    padding-right: 74px;
}

.abtUsImg {
    width: 650px;
    animation: slideRight .5s ease-out;
}

.abtUsTextsContainer {
    flex: 1;
    padding-left: 74px;
    animation: slideDown .5s ease-out;
}

.abtUsTextsContainer h1 {
    font-size: 32px;
    color: #131313;
    margin-bottom: 5px;
}

.lineIcon {
    width: 192px;
    margin-bottom: 15px;
}

.abtUsTextsContainer p {
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
}

@keyframes slideRight {
    0% {
        opacity: 0%;
        margin-top: 600px;
    }

    50% {
        opacity: 30%;
    }

    100% {
        opacity: 100%;
        margin-top: 0px;
    }
}

@keyframes slideDown {
    0% {
        opacity: 0%;
        margin-bottom: 600px;
    }

    50% {
        opacity: 30%;
    }

    100% {
        opacity: 100%;
        margin-bottom: 0px;
    }
}

.mobileTitle {
    display: none;
}








/* .coreValues {
    width: 100%;
    height: 100vh;
    position: relative;
}

.secTitle {
    width: 100%;
    height: 50vh;
    background-image: url(./resources/Core\ Values\ Images.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secTitle h1 {
    color: white;
    font-weight: 500;
    font-size: 50px;
    letter-spacing: 40px;
}

.cvContentCon {
    width: 70%;
    margin: auto;
    display: grid;
    grid-auto-flow: column;
    margin-top: 150px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.cvIcon {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background: none;
    border: 3px solid #0C0E23;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cvIcon img {
    width: 65px;
}

.content h1 {
    font-weight: 000;
    font-size: 20px;
} */








/* Our Services Section */
.services {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
}

.servicesContainer {
    width: 80%;
    margin: auto;
    text-align: center;
}

.servicesTitle {
    font-size: 32px;
    margin-bottom: 5px;
    color: #131313;
}

.titleDesc {
    color: #131313;
    font-size: 18px;
    margin-bottom: 20px;
}

.ServicesElContainer {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

.itemCont {
    width: 89.5%;
    height: 446px;
    background-color: #f6f6f6;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .32s;
    padding: 0px 25px;
}

.orange:hover {
    border-bottom: 2px solid #ff7b00;
    transition-duration: .3s;
    background-color: #fff2e9;
}

.blue:hover {
    border-bottom: 2px solid #020217;
    transition-duration: .3s;
    background-color: #e5ebff;
}

.green:hover {
    border-bottom: 2px solid #1a6e00;
    transition-duration: .3s;
    background-color: #edfff2;
}

.itemCont img {
    width: 100px;
    height: 100px;
    transition-duration: .3s;
    margin-bottom: 8px;
}

.itemCont img:hover {
    rotate: 405deg;
    transition-duration: .3s;
}

.itemCont h1 {
    font-size: 22px;
}

.itemLine {
    width: 180px;
    margin-top: 10px;
    height: 3px;
    margin-bottom: 10px;
}

.itemCont p {
    font-size: 18px;
    line-height: 24px;
    padding: 0px 20px;
}

.servicesBtn {
    margin-top: 13px;
}

.mediaPlacement {
    display: none;
}

.serviceMoreCont {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.954);
    z-index: 22;
}

.moreMainCont {
    width: 100%;
    height: 100%;
    background: none;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.closeBtn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5%;
    right: 50px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
}

.closeBtn :hover {
    cursor: pointer;
}

.xCont {
    width: 100%;
    height: 100%;
    position: relative;
}

.xCont :nth-child(1) {
    width: 100%;
    height: 5px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    rotate: 45deg;
    border-radius: 5px;
    top: 42%;
}

.xCont :nth-child(2) {
    width: 100%;
    height: 5px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    rotate: -45deg;
    border-radius: 5px;
    top: 42%;
}

.moreInnerCont {
    width: 90%;
    height: 90%;
    background-color: white;
    overflow-y: scroll;
}

.MPSec1 {
    padding: 120px 125px 0px 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 140px;
}

.MPSec1 p {
    text-align: justify;
}

.MPSec1 svg {
    margin-top: 5px;
    margin-bottom: 12px;
}













/* Our Brands Styling */
.ourBrands {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(80, 80, 80);
    align-items: center;
    padding: 200px 0px;
}

.brandsContainer {
    width: 60%;
    margin: auto;
    text-align: center;
}

.brandsContainer h1 {
    color: white;
    margin-bottom: 8px;
}

.brandsContainer p {
    color: white;
}

.brandsLogosCont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    padding-top: 40px;
    margin-bottom: 20px;
}

.brandsLogo {
    width: 100%;
    height: 200px;
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.24);
}

.brandsLogo img {
    transition-duration: .3s;
    height: 70%;
}

.brandsLogo img:hover {
    height: 85%;
    transition-duration: .3s;
}

#moreBrands:hover {
    background-color: white;
    border: none;
}


/* All Brands Styling */
.hiddenn {
    display: none !important;
}

.allBrands {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background-color: #000000e5;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 50;
}

.allBrands h1, .allBrands p {
    color: black;
}

.allBrandsCont {
    width: 80%;
    height: 90%;
    background-color: rgb(241, 241, 241);
    overflow-y: scroll;
}

.allBrands .brandsLogosCont {
    width: 60%;
    margin: auto;
}

.allBrandsCont .brandsTitle {
    margin-top: 100px;
}

.space {
    width: 100%;
    height: 100px;
}

.closeXIcon {
    position: absolute;
    top: 3.5%;
    right: 6%;
    width: 50px;
}

.closeXIcon:hover {
    cursor: pointer;
}













/* Footer styling */
footer {
    width: 100%;
    height: 200px;
    background-color: #2e2e2e;
    color: white;
    padding: 120px 0px;
    position: relative;
}

.footerCont {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40%;
}

.leftFooterCont {
    line-height: 1.6;
    flex: 2;
}

.leftFooterCont h1 {
    font-size: 42px;
}

.leftFooterCont p {
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 300;
    color: rgb(150, 150, 161);
}

.leftFooterCont img {
    width: 36px;
    height: 36px;
    margin-top: 15px;
}

.rightFooterCont {
    flex: 1.5;
    line-height: 30px;
}

.quickLinksCon {
    display: flex;
    flex-direction: column;
}

.quickLinksTitle span {
    font-size: 18px;
    font-weight: 600;
}

.quickLinksCon a {
    color: white;
    font-size: 15px;
    border-top: 1px solid white;
}

.quickLinksCon a:hover {
    color: #ff8c3f;
}

.copyrightCont {
    width: 100%;
    height: 35px;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    left: 0;
}











@media (max-width: 1366px) {

    .card {
        width: 70%;
    }

    .closeGreetingBtn {
        width: 28px;
        height: 28px;
        right: 11%;
    }    
    
    .siteLogo {
        width: 90px;
    }

    .menus ul li {
        font-size: 14px;
    }

    #contactBtn {
        font-size: 12px;
        padding: 8px 32px;
    }

    #contactBtn:hover {
        padding: 8px 45px;
    }

    .unlockYour {
        font-size: 75px
    }

    .brands span, .potential span {
        font-size:  75px;
    }
    
    .heroContainer p {
        font-size: 24px;
    }

    .btnMedium {
        margin-top: 38px;
        font-size: 18px;
        padding: 13px 54px;
    }

    .downIcon {
        width: 26px;
    }







    .itemCont {
        width: 85%;
    }
}














@media (max-width: 700px) {
    .closeGreetingBtn {
        width: 20px;
        height: 20px;
        right: 8%;
        top: 15%;
    }

    .card {
        background-image: url(./resources/Greetings\ mobile.jpg);
        background-position: center center;
        background-size: contain;
    }

    .forHero {
        width: 60px !important;
        height: 60px !important;
    }

    .headerContainer {
        display: block;
        width: 95%;
        height: 8vh;
    }

    .burgerContainer {
        display: flex;
    }

    .logo {
        width: 95%;
        margin: auto;
        height: 100%;
    }

    .hamburger {
        display: block;
        width: 35px;
        transition-duration: .3s;
    }

    .hamburger:hover {
        cursor: pointer;
        transition-duration: .3s;
    }

    .rotate {
        transform: rotate(225deg);
    }

    .siteLogo {
        width: 85px;
    }

    .navMenu {
        background-color: black;
        width: 0%;
        position: absolute;
        right: 0;
        display: block;
        height: 50vh;
        padding-top: 88px;
        padding-left: 0px;
        overflow: hidden;
        transition-duration: .3s;
        z-index: 20;
    }

    .showNav {
        display: block;
        transition-duration: .3s;
        width: 45%;
        padding-left: 26px;
    }

    .menus ul {
        flex-direction: column;
        gap: 37px;
    }

    .menus ul a {
        text-decoration: none;
        color: white;
    }

    .menus ul li {
        font-size: 14px;
        color: white;
    }

    #contactBtn {
        margin-top: 37px;
        border-radius: 0px;
        font-size: 12px;
        padding: 8px 28px
    }

    #contactBtn:hover {
        padding: 8px 28px
    }

    .allCont {
        width: 90%;
        /* background-color: red; */
        margin-top: 0px;
    }

    .allCont h1 {
        font-size: 52px;
        font-weight: 600;
    }

    .br, .pt {
        height: 30px !important;
    }

    .mainTexts {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .allCont p {
        font-size: 20px;
        margin-top: 10px;
        font-weight: 500;
    }

    .btnMedium {
        font-size: 16px;
        padding: 10px  40px;
    }

    .btnSmall {
        font-size: 14px;
        padding: 6px  30px;
    }

    .btnMedium:hover {
        padding: 10px 40px;
        border: none;
        background-color: #FE6600;
        color: white;
    }

    .btnSmall:hover {
        padding: 6px 30px;
        border: none;
        background-color: #FE6600;
        color: white;
    }

    .allCont {
        margin-top: -120px;
    }

    .downIcon {
        width: 25px;
        bottom: 150px;
    }

    /* About Us Section */
    .lineTriangle1 {
        width: 60px;
        height: 60px;
        top: 15px;
        right: 15px;
    }

    .lineTriangle2 {
        width: 40px;
        height: 40px;
        bottom: 15px;
        left: 15px;
    }

    .aboutUsContainer {
        display: block;
        width: 80%;
        text-align: center;
        /* padding-top: 100px; */
    }

    .abtUsImg {
        width: 100%;
        margin-bottom: 30px;
    }

    .abtUsImgContainer {
        padding-right: 0px;
    }

    .abtUsTextsContainer {
        padding-left: 0px;
    }

    .abtUsTextsContainer p {
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        line-height: 22px;
    }

    .fixed {
        position: fixed;
    }

    #learnMore2 {
        margin-top: 30px;
    }
    
    .abtUsTextsContainer h1, .abtUsTextsContainer .lineIcon {
        display: none;
    }

    .mobileTitle {
        display: block;
    }

    .mobileTitle h1 {
        margin-bottom: 10px;
        font-size: 26px;
    }

    .lineIcon {
        width: 140px;
        margin-bottom: 30px;
    }


    /* Our Services Section */
    .servicesTitle {
        font-size: 26px;
    }
    

    .ServicesElContainer {
        width: 95%;
        display: block;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 12px;
    }

    .itemCont {
        margin-bottom: 13px;
        height: 400px;
    }

    .itemCont img {
        width: 80px;
        height: 80px;
    }

    .titleDesc {
        font-size: 18px;
    }

    .itemCont h1 {
        font-size: 20px;
    }

    .itemCont p {
        font-size: 14px;
        line-height: 19px;
        padding: 0px 0px;
    }









    /* Our Brands */
    .brandsContainer {
        width: 80%;
    }

    .brandsLogosCont {
        grid-template-columns: 1fr 1fr;
    }

    .brandsLogo {
        width: 90%;
        height: 150px;
    }

    .hideOnMobile {
        display: none;
    }





    /* All Brands */
    .allBrandsCont {
        width: 90%;
    }

    .brandsLogo {
        height: 150px;
    }

    .brandsLogo img {
        height: 60%;
    }

    .brandsLogo img:hover {
        height: 60%;
    }

    .closeXIcon {
        top: 5%;
        right: 8%;
    }




    /* footer mobile styling */
    footer {
        height: 500px;
        display: flex;
        flex-direction: column;
    }

    .footerCont {
        width: 80%;
        flex-direction: column;
        gap: 80px;
    }

    .leftFooterCont {
        flex: 1;
    }

    .leftFooterCont h1 {
        font-size: 30px;
    }

    .leftFooterCont img {
        width: 25px;
        height: 25px;
    }

    .rightFooterCont {
        width: 100%;
        text-align: left;
    }

    .rightFooterCont span {
        font-size: 18px;
    }

    .rightFooterCont a {
        font-size: 14px;
    }



}





/* @media (max-width: 550px) {
    .bpContainer {
        display: block;
    }

    .brands {
        width: 65%;
        margin: auto;
    }

    .potential {
        width: 75%;
        margin: auto;
    }

    .brands span, .potential span {
        font-size: 50px;
        font-weight: 700;
    }

    .PotentialText, .BrandsText {
        font-size: 50px;
        font-weight: 700;
    }
} */