* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    /* overflow: hidden; */
    user-select: none;
}

header {
    width: 100%;
    height: 10vh;
}

.headerContainer {
    width: 1500px;
    margin: auto;
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.siteLogo {
    width: 104px;
}

.hamburger {
    display: none;
}

.navMenu {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.menus {
    display: flex;
}

.menus ul {
    list-style: none;
    display: flex;
    gap: 56px;
}

.menus ul a {
    text-decoration: none;
    transition-duration: .3s;
    color: black;
}

.menus ul li {
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.active {
    color: #FE6600 !important;
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 2px solid #FE6600 !important;
}

.menus ul a:hover {
    color: #FE6600;
    transition-duration: .3s;
    padding-bottom: 5px;
    border-bottom: 1px solid #FE6600;
}

.contactBtn {
    display: flex;
    justify-content: left;
}

#contactBtn {
    padding: 10px 35px;
    background-color: #FE6600;
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: white;
    transition-duration: .3s;
    border-radius: 10px;
}

#contactBtn:hover {
    cursor: pointer;
    padding: 10px 50px;
    transition-duration: .3s;
}

.hidden {
    display: none;
}

.hero {
    position: relative;
    width: 100%;
    height: 90vh;
    background-image: url(./resources/1920\ x\ 1080\ background\ Img.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navMenuActive {
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.815);
    z-index: 19;
}

.heroContainer {
    width: 73%;
    height: 100%;
    margin: auto;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.allCont {
    margin-top: -50px;
}

.unlockYour {
    font-size: 80px;
    font-weight: 600;
    /* animation: slideDown 1s ease-in; */
}

.bpContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.brands, .potential {
    position: relative;
    flex: 1;
    text-align: left;
}

.brands span, .potential span {
    font-size: 80px;
    font-weight: 600;
    z-index: 10;
}

.BrandsText, .PotentialText {
    position: absolute;
    left: 0;
    bottom: 0;
    /* font-size: 80px; */
}

.brandsHL, .potentialHL {
    width: 100%;
    height: 30px;
    background-color: #FE6600;
    position: absolute;
    bottom: 10px;
    transition-duration: .3s;
}

.hlHeight {
    height: 15px;
    transition-duration: .3s;
}

.heroContainer p {
    font-size: 28px;
    font-weight: 500;
    margin-top: 19px;
}

#learnMore1 {
    margin-top: 63px;
    font-size: 20px;
    background-color: #FE6600;
    color: white;
    font-weight: 400;
    border: none;
    border-radius: 14px;
    transition-duration: .3s;
    padding: 15px 58px;
}

#learnMore1:hover {
    cursor: pointer;
    transition-duration: .3s;
    padding: 14px 70px;
    border: 1px solid #FE6600;
    background-color: white;
    color: #FE6600;
}

@keyframes slideDown {
    0% {
        opacity: 0%;
        margin-top: -500px;
    } 
    
    100% {
        opacity: 100%;
        margin-top: 0px;
    }
}


.downIcon {
    width: 30px;
    height: 54;
    position: absolute; 
    bottom: 50px;
    left: 50%;
    margin-bottom: 1px;
    transition-duration: .3s;
    transform: translateX(-50%);
}

.downIcon:hover {
    cursor: pointer;
    margin-bottom: 10px;
    transition-duration: .3s;
}

/* About Us Section */

.aboutUs {
    width: 100%;
    height: 100vh;
}

.aboutUsContainer {
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.abtUsImgContainer {
    flex: 1;
    padding-right: 74px;
}

.abtUsImg {
    width: 650px;
    animation: slideRight .5s ease-out;
}

.abtUsTextsContainer {
    flex: 1;
    padding-left: 74px;
    animation: slideDown .5s ease-out;
}

.abtUsTextsContainer h1 {
    font-size: 32px;
    color: #131313;
    margin-bottom: 5px;
}

.lineIcon {
    width: 192px;
    margin-bottom: 20px;
}

.abtUsTextsContainer p {
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
}

@keyframes slideRight {
    0% {
        opacity: 0%;
        margin-top: 600px;
    }

    50% {
        opacity: 30%;
    }

    100% {
        opacity: 100%;
        margin-top: 0px;
    }
}

@keyframes slideDown {
    0% {
        opacity: 0%;
        margin-bottom: 600px;
    }

    50% {
        opacity: 30%;
    }

    100% {
        opacity: 100%;
        margin-bottom: 0px;
    }
}

#learnMore1 {
    margin-top: 40px;
    font-size: 20px;
    background-color: #FE6600;
    color: white;
    font-weight: 400;
    border: none;
    border-radius: 14px;
    transition-duration: .3s;
    padding: 15px 58px;
}

#learnMore2:hover {
    cursor: pointer;
    transition-duration: .3s;
    padding: 14px 70px;
    border: 1px solid #FE6600;
    background-color: white;
    color: #FE6600;
}




















@media (max-width: 700px) {
    .hero {
        background-image: url(./resources/600\ width\ background\ Img.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .headerContainer {
        display: block;
        width: 95%;
        height: 8vh;
    }

    .logo {
        width: 100%;
        height: 100%;
    }

    .hamburger {
        display: block;
        width: 35px;
        transition-duration: .3s;
    }

    .hamburger:hover {
        cursor: pointer;
        transition-duration: .3s;
    }

    .rotate {
        transform: rotate(225deg);
    }

    .siteLogo {
        width: 85px;
    }

    .navMenu {
        background-color: black;
        width: 0%;
        position: absolute;
        right: 0;
        display: block;
        height: 50vh;
        padding-top: 88px;
        padding-left: 0px;
        overflow: hidden;
        transition-duration: .3s;
        z-index: 20;
    }

    .showNav {
        display: block;
        transition-duration: .3s;
        width: 45%;
        padding-left: 26px;
    }

    .menus ul {
        flex-direction: column;
        gap: 37px;
    }

    .menus ul a {
        text-decoration: none;
        color: white;
    }

    .menus ul li {
        font-size: 14px;
        color: white;
    }

    #contactBtn {
        margin-top: 37px;
        border-radius: 0px;
        font-size: 12px;
        padding: 8px 28px
    }

    #contactBtn:hover {
        padding: 8px 28px
    }

    .allCont {
        margin-top: 0px;
    }

    .unlockYour {
        font-size: 50px;
        font-weight: 700;
    }

    .bpContainer {
        display: block;
    }

    .brands {
        width: 60%;
        margin: auto;
    }

    .potential {
        width: 71%;
        margin: auto;
    }

    .brands span, .potential span {
        font-size: 50px;
        font-weight: 700;
    }

    .PotentialText, .BrandsText {
        font-size: 50px;
        font-weight: 700;
    }

    .brandsHL, .potentialHL {
        height: 18px;
    }

    .allCont p {
        font-size: 20px;
        margin-top: 10px;
        font-weight: 500;
    }

    #learnMore1 {
        font-size: 16px;
        padding: 10px  40px;
    }

    #learnMore1:hover {
        padding: 10px 40px;
        border: none;
        background-color: #FE6600;
        color: white;
    }

    .downIcon {
        width: 25px;
    }

    /* About Us Section */
    .aboutUsContainer {
        display: block;
        height: 100vh;
    }

    .abtUsImg {
        width: 330px;
    }
}