* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.teamShowNav {
    width: 100%;
    height: 90vh;
    position: fixed;
    top: 10vh;
    left: 0;
    background-color: rgba(255, 255, 255, 0.815);
    z-index: 19;
}

.hideTeamNav {
    display: none;
}

.services {
    width: 100%;
    height: 84vh;
    background-color: white;
    padding-bottom: 19px;
}

.mainCont {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.sideNav {
    flex: 1;
    /* background-color: white; */
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.185);
}

.content {
    flex: 3;
    /* background-color: wheat; */
    height: 100%;
}

.btnCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10vh;
}

.btn {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.185);
    text-align: left;
    background: none;
    font-size: 16px;
    padding: 10px;
    font-weight: 500;
    color: black;
    transition-duration: .3s;
}

.btn:hover {
    color: white;
    background-color: #ff9752;
    cursor: pointer;
    transition-duration: .4s;
    border: none !important;
}

.aactive {
    color: white;
    background-color: #FE6600;
    cursor: pointer;
    transition-duration: .4s;
    border: none !important;
}

.last {
    border: none !important;
}

.mediaPlacementCont {
    width: 100%;
}

.dashboard {
    width: 100%;
    height: 200px;
    background-color: #0C0E23;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: dashboard .5s ease;
}

.mpDash {
    background-image: url(../resources/Hero\ Background.svg);
    /* background-color: #0C0E23; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.consDash {
    background-image: url(../resources/Consultancy\ BG.svg);
    background-color: #0C0E23;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.actiDash {
    background-image: url(../resources/Activation\ BG.svg);
    background-color: #0C0E23;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.inactive {
    display: none;
}

.mainActive {
    display: block;
}


@keyframes dashboard {
    0% {
        opacity: 0%;
        margin-top: -100px;
    }

    100% {
        margin-top: 0px;
        opacity: 100%;
    }
}

.textContent {
    margin-top: 50px;
    padding: 0px 50px;
}

.textContent p {
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
}












.footer {
    width: 100%;
    height: 4vh;
    background-color: #0C0E23;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: montserrat;
}






















@media (max-width: 1000px) {
    .mainCont {
        width: 90%;
        flex-direction: column;
        gap: 5px;
    }

    .sideNav {
        width: 100%;
        border: none;
        flex: 1;
        z-index: 1;
        background-color: white;
    }

    .content {
        width: 100%;
        flex: 6;
    }

    .btnCont {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1px;
        margin-top: 20px;
    }

    .btn {
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #fad3b9;
        border: none;
    }

    .aactive {
        background-color: #FE6600;
        color: white;
    }

    .dashboard {
        height: 150px;
        font-size: 12px;
    }
    














    .footer p {
        font-size: 10px;
    }
}